.apprenticeBox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 1px solid var(--ifm-color-primary);
  border-radius: 8px;
  /* margin-bottom: 20px; */
  padding: 20px;
}

.apprenticeName {
  color: var(--ifm-color-primary);
}

.apprenticeRole {
  display: inline-block;
  white-space: nowrap;
  vertical-align: middle;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}
